#dungeon-view {
}

#dungeon-view table {
	background-color: black;
	color: white;
	border-collapse: collapse;
}

#dungeon-view td {
	border: 1px solid #555;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	text-align: center;
}

/* terrain you can walk over */
.tile_corridor { background-color: #111; color: #222222; font-weight: bolder; }

/* terrain that can't be walked over */
.tile_wall { background-color: #201000; color: #663300; }

/** Objects  **/
.icon_player{ color: #22A522; }
.icon_npc{ color: yellow; }



.hidden { background-color: #000; color: #111 !important; }